<settings>
    <mirrors>
        <!-- Google Mirror -->
        <mirror>
            <id>google-maven-central</id>
            <name>Google Maven Central</name>
            <url>https://maven-central.storage.googleapis.com/maven2/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        
        <!-- Aliyun Mirror -->
        <mirror>
            <id>aliyun</id>
            <mirrorOf>central</mirrorOf>
            <name>Aliyun Maven Central</name>
            <url>https://maven.aliyun.com/repository/public</url>
        </mirror>
        
        <!-- JBoss Mirror -->
        <mirror>
            <id>jboss-public</id>
            <name>JBoss Public Repository Group</name>
            <url>https://repository.jboss.org/nexus/content/groups/public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
</settings> 